
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-principal: #0F0E0E;
    --cor-secudaria: #EEEEEE;
    --cor-tercearia: #8B9A46;
    --cor-hover: #541212;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secudaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-size: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-tercearia);
    text-decoration: none;
}

.cabecalho__menu__link {
    padding: 10px 15px;
}

.cabecalho__menu__link:hover {
    color: var(--cor-tercearia);
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-tercearia);
}


.apresentacao__titulo {
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

strong {
    color: var(--cor-tercearia);
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.apresentacao__texto {
    font-size: 24px;
    color: #00ff8c;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_subtitulos {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links_link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secudaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links_link:hover {
    background-color: var(--cor-hover);
    font-size: 26px;
    box-shadow: 3.0px 3.0px 15px var(--cor-tercearia);
    color: #00FF00;
}
.urgente {
    color: red;
}

.rodape {
    padding: 24px;
    color: var(--cor-principal);
    background-color: var(--cor-tercearia);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}